GridBackground
{
	--grid-background-color: var(--quest-colors-grid-light-grey-1);
	--line-color: var(--quest-colors-grid-light-grey-2);
	--thick-line-color: var(--quest-colors-grid-light-grey-3);
	--spacing: var(--quest-metrics-grid-25);
}